<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Florian Harwoeck">
    <link rel="author" href="https://harwoeck.at">
    <meta name="language" content="en">
    <meta name="description" itemprop="description" content="{{.Description}}">
    <meta name="keywords" content="{{.Keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#abfb31">
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{.Favicon}}">
    <meta property="og:image" content="{{.Favicon}}">
    <meta property="og:description" content="{{.Description}}">
    <meta property="og:site_name" content="{{.Title}}">
    <meta itemprop="name" content="{{.Title}}">
    <meta itemprop="description" content="{{.Description}}">
    <meta itemprop="image" content="{{.Favicon}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@harwoeck">
    <meta name="twitter:title" content="{{.Title}}">
    <meta name="twitter:description" content="{{.Description}}">
    <meta name="twitter:creator" content="@harwoeck">
    <meta name="twitter:image" content="{{.Favicon}}">
    <title>{{.Title}}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{.Favicon}}">
    <link rel="apple-touch-icon" href="{{.Favicon}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono">
    <style>
        body {
            padding: 1rem !important;
        }
        h1 {
            margin-top: 0 !important;
        }
        tr:hover {
            background-color: whitesmoke;
        }
        td {
            font-family: 'Ubuntu Mono', monospace;
            padding-top: 0.05em !important;
            padding-bottom: 0.05em !important;
        }
        a:hover {
            text-decoration: underline !important;
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <h1>Index of {{.QuickPathNavigation}}</h1>
    <div class="ui grid">
        <div class="twelve wide column">
            <table class="ui very compact table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Modified</th>
                        <th>Size (byte)</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Index}}
                    <tr>
                        <td><a href="{{.Link}}">{{.Name}}</a></td>
                        <td>{{.Modified}}</td>
                        <td>{{.Size}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div class="four wide column">
            <div class="ui segment">
                <div class="ui top attached label">Details</div>
                <div class="ui list">
                    <div class="item"><div class="header">Directory</div>{{.QuickPathNavigation}}</div>
                    <div class="item"><div class="header">Size</div>{{.DirSize}}</div>
                </div>
                {{if .Package}}
                <div class="ui horizontal divider">Package</div>
                <div class="ui list">
                    <div class="item"><div class="header">Name</div>{{.PackageName}}</div>
                    <div class="item"><div class="header">Hierarchy</div>{{.PackageHierarchy}}</div>
                    <div class="item"><div class="header">Depends on</div>{{.PackageDependsOn}}</div>
                    <!--
                        <img src="https://img.shields.io/badge/coverage-67.4%25%20(atomic)-green.svg">
                        <img src="https://img.shields.io/badge/tests-127%20%2F%20129-red.svg">
                    -->
                </div>
                {{end}}
                {{if .Git}}
                <div class="ui horizontal divider">Git</div>
                <div class="ui list">
                    <div class="item"><div class="header">Commit</div><a href="{{.GitLink}}" target="_blank">{{.GitHash}}</a></div>
                    <div class="item"><div class="header">Message</div>{{.GitMessage}}</div>
                </div>
                {{end}}
                {{if .CI}}
                <div class="ui horizontal divider">CI</div>
                <div class="ui list">
                    <div class="item"><div class="header">Job</div><a href="{{.CILink}}" target="_blank">{{.CIJob}}</a></div>
                    <div class="item"><div class="header">Build time</div>{{.CIBuildTime}}</div>
                    {{if .CIHasReport}}
                    <div class="item"><div class="header">Coverage</div>{{.CICoverage}} - <a href="_coverage.afy">Report</a></div>
                    {{end}}
                </div>
                {{end}}
            </div>
        </div>
    </div>

    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
</body>
</html>
